[submodule "custom-app-sdk-js"]
	path = custom-app-sdk-js
	url = https://github.com/kontent-ai/custom-app-sdk-js.git
[submodule "data-ops"]
	path = data-ops
	url = https://github.com/kontent-ai/data-ops.git
[submodule "stylesheet-generator"]
	path = stylesheet-generator
	url = https://github.com/kontent-ai/stylekit.git

